.env
.env.*
node_modules/
cache/
artifacts/
typechain-types/
coverage/
.history/
.snapshots/
.vscode/
registry/
verify-output.txt
*.log
.DS_Store

*.txt

tokenone-trustwallet-assets.zip
tokenone-trustwallet-assets/

USDT.svg

.env

API KEY*.txt

*Moralis*.txt

*covalenthq*.txt
